.Fondo{
    background-color: rgb(34, 34, 143);
}
div{
    background-color: gray;
    width: 400px;
    height: 30vh;
    padding: 15px;
    margin: auto;
    margin-top: 30vh;
    border-radius: 25%;
    margin-bottom: 25vh;
}
form{
    background-color: gray;
    width: 300px;
    height: 10vh;
    margin: auto;
    margin-top: 5vh;
}
.caja{
    color: black;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    height: 40px; 
    width: 300px;
    border: 0;
    padding: 0;
}
.caja2{
    padding: 0;
    border: 0;
    height: 40px;
    width: 130px;
    margin-left: 85px;
    margin-top: 15px;
}
.barra{
    width:auto;
    height: 5vh;
    border-radius: 0%;
    border: 0;
    margin: 0;
}