.Fondo{
    background-color: rgb(34, 34, 143);
}
div{
    background-color: gray;
    width: 400px;
    height: 30vh;
    padding: 15px;
    margin: auto;
    margin-top: 25vh;
    border-radius: 25%;
    margin-bottom: 25vh;
}

.barraS0{
    width: auto;
    height: 4vh;
    background-color: rgb(34, 34, 143);
    padding: 15px;
    margin: auto;
    margin-top: 1vh;
    border-radius: 0%;
    margin-bottom: 20vh;
}
.barraS{
    width: auto;
    height: 4vh;
    background-color: gray;
    padding: 15px;
    margin: auto;
    margin-top: 1vh;
    border-radius: 0%;
    margin-bottom: 20vh;
}

.Botones{
    background-color: rgb(180, 180, 230);
    width: 140px;
    height: 4vh;              
    margin: auto;
    margin-top: 0;
    margin-right: 10px;
}

form{
    background-color: gray;
    width: 300px;
    height: 10vh;
    margin: auto;
    margin-top: 5vh;
}

.caja{
    color: black;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    height: 40px; 
    width: 300px;
    border: 0;
    padding: 0;
}
.caja2{
    padding: 0;
    border: 0;
    height: 40px;
    width: 130px;
    margin-left: 85px;
    margin-top: 15px;
}

.barraI{
    width:auto;
    height: 5vh;
    border-radius: 0%;
    border: 0;
    margin: 0;
    text-align:end;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0%;
    width: 10vh;
    height: 20vh;
    margin:0vh;
    position:absolute;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

#dropdownButton {
    padding: 10px 20px;
    cursor: pointer;
}